div {
    position: relative;
    width: 100%;
    margin-top: 25px;
    margin-bottom: -150px;
    
}


:root {
	--primary: 0, 0%, 100%;
	--secondary: 202, 73%, 28%;
	--c: cubic-bezier(1,.49,.16,.96);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', 'Helvetica', sans-serif;
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);	
}

.btn {
	--w: 300px;
	--h: 45px;
    position: relative;
	display: flex;
	width: var(--w);
	height: var(--h);
	border: 1px solid hsl(var(--primary));
}

#easy {
	position: relative;
	margin-right: 700px;
	margin-top: 50px
}

#easy > i {
	background:rgb(2, 255, 2);
}

#medium {
	position: relative;
	margin-top:102.5px;
}
#medium > i {
	background:yellow;
}
#hard {
	position: relative;
	margin-top:102.5px;
	margin-right: -700px;
}
#hard > i {
	background:red;
}


i {
	content: '';
	width: 100%;
	height: 100%;
	transition: all .5s var(--c);
}

i:nth-child(1) {transition-delay: .02s;}
i:nth-child(2) {transition-delay: .04s;}
i:nth-child(3) {transition-delay: .06s;}
i:nth-child(4) {transition-delay: .08s;}
i:nth-child(5) {transition-delay: .10s;}
i:nth-child(6) {transition-delay: .12s;}
i:nth-child(7) {transition-delay: .14s;}
i:nth-child(8) {transition-delay: .16s;}
i:nth-child(9) {transition-delay: .18s;}
i:nth-child(10) {transition-delay: .2s;}


span {
	position: absolute;
	width: 100%;	
	font-size: 14px;
	font-weight: 800;
	line-height: var(--h);
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	color: hsl(var(--primary));	
	transition: all .4s var(--c);
	z-index: 100;
}

.style-1, 
.style-2 {
	flex-direction: column;
}
.style-3, 
.style-4, 
.style-5, 
.style-6 {
	flex-direction: row;
}

.style-1 i,
.style-5 i {transform-origin: center left;}

.style-2 i,
.style-6 i {transform-origin: center right;}

.style-3 i {transform-origin: center bottom;}

.style-4 i {transform-origin: center top;}

.style-1 i,
.style-2 i,
.style-5 i,
.style-6 i {	
	transform: scaleX(0);
}

.style-3 i,
.style-4 i {
	transform: scaleY(0);
}

.style-1:hover i,
.style-2:hover i,
.style-5:hover i,
.style-6:hover i {
	transform: scaleX(1);
}

.style-3:hover i,
.style-4:hover i {
	transform: scaleY(1);
}

.btn:hover span {
	color: rgb(0, 0, 0);
    transition-delay: .4s;
    cursor: pointer;
}

.btn-container {
    width: 1100px;
    
}

@media only screen and (max-width: 1100px) {
   	#easy {
		position:absolute;
		left:50px;
		top:-25px;
	}
	#medium {
		position: absolute;
		left:400px;
		top:-77.5px;
	}
	#hard {
		position: absolute;
		left:750px;
		top:-77.5px;
	}
}




img {
    opacity: 1;
}

.mask {
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    z-index: -1;
    
}

.canvas {
    z-index: 999;
}



.links {
	position:absolute;
	top:555px;
	width:100%;
}

#linkedin  {
	background-color:white;
	border-radius: 7.5px;
}

#github {
	background-color:white;
	border-radius: 35px;
}

#angellist{
	background-color:rgb(14, 14, 14);
	border-radius: 7.5px;
}




